.footer__menu-link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.footer__menu-link:hover {
  opacity: 0.8;
}


@media screen and (max-width: 767px) {
  .footer__menu-link {
    margin-right: 0;
    font-size: 24px;
    line-height: 24px;
    /*identical to box height, or 100% */
  }
}
