.intro__list {
  margin: auto;
  padding: 0;
  /*max-width: 288px;*/
  width: calc(100% - 32px);
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .intro__list {
    /*max-width: 720px;*/
    width: calc(100% - 48px);
  }
}

@media screen and (min-width: 1024px) {
  .intro__list {
    max-width: 690px;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro__list {
    margin-left: 148px;
  }
}
