.header {
  display: flex;
  justify-content:  space-between;
  padding: 0 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 48px 0 48px;
  }
}

/*.header {
  padding: 0 48px 0 48px;
  display: flex;
  justify-content:  space-between;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0 16px 0 16px;
  }
}*/
