.lead__title {
  margin: auto;
  max-width: 288px;
  text-align: center;
  font-family: Inter, system, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px; /* or 110% */
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px; /* or 104% */
  }
}
