.cover {
  position: relative;
  margin: auto;
  margin-top: 66px;
  padding-bottom: 62.5%; /*от ширины родительского элемента*/
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: calc(100% - 96px);
    padding-bottom: 57.82%;
  }
}

