.place__link {
  margin: 0;
  font-family: Inter, system, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity .2s ease-in;
}
.place__link:hover {
  opacity: 0.8;
}
