.cover__background {
  /*background-image: url(../../../images/cover-trains.jpg);
  width: 1184px;
  height: 740px;*/
  max-width: 100%;
  border: 0;
  position: absolute;
  /*top: 0;*/

  opacity: 1;
  transition: opacity .2s ease-in;
}

.cover__background:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover__background {
    max-width: 1184px;
    left: 48px;
  }
}
